
//colors

$dark: #20242A;
$gray: #30363E;
$white: #FFFFFF;
$red: #F9484B;
$yellow: #E5AA11;
$green: #00BA61;
$blue: #386DF8;
$blue_300: #4C84FF;
$blue_400: #2D69EB;

// fonts
$font-regular: 'Avenir-Regular', sans-serif; //400
$font-medium: 'Avenir-Medium', sans-serif; //500
$font-heavy: 'Avenir-Heavy', sans-serif; //800

// breakpoints
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1440px;
