@import "src/assets/styles/variables";
.depositModal  {
  &_block {
    margin: 0 auto;
    padding: 0 18px;
  }

  &_circle {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
  }

  &_dropdown-text {
    p {
      font-size: 6px;
      opacity: 0.5;
      line-height: 8px;
    }
  }

  &_dropdown-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    h2 {
      font-size: 10px;
      line-height: 13px;
    }
  }

  &_dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  &_promocode {
    width: 100%;
    margin: 0 auto;
  }

  &_deposit_button {
    width: 100%;
    margin: 6px auto 0;
    border-radius: 6px;
    height: 40px;
    background: $red;
  }

  &_header {
    margin-top: 20px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    &-button {
      width: 24px;
      height: 24px;
    }

    img {
      transform: rotate(90deg);
    }
  }

  &_balance {
    background: $blue;
    width: 100%;
    margin: 16px auto 0;
    &-text {
      font-size: 14px;
    }
    &-amount {
      font-size: 18px;
    }
  }
}

@media (min-width: $medium) {
  .depositModal {

    &_block {
      margin: 0 auto;
      padding: 0;
    }

    &_header {
      margin-top: 32px;
      margin-left: 24px;
      &-button {
        width: 32px;
        height: 32px;
      }
    }

    &_balance {
      border-radius: 0;
      height: 48px;
    }

    &_circle {
      width: 4px;
      height: 4px;
    }

    &_dropdown-text {
      p {
        font-size: 12px;
        opacity: 0.5;
        line-height: 16px;
      }
    }

    &_dropdown-title {
      gap: 6px;
      h2 {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &_deposit_button {
      height: 48px;
    }
  }
}
